[submodule "MPC"]
	path = MPC
	url = git@github.com:misofey/MPC.git
[submodule "Integrationproject"]
	path = Integrationproject
	url = https://github.com/misofey/Integrationproject.git
[submodule "RobustControl"]
	path = RobustControl
	url = git@github.com:misofey/RobustControl.git
